<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:hasFragileUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderingApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--
android:dataExtractionRules="@xml/data_extraction_rules"
android:fullBackupContent="@xml/backup_rules"
-->

        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".statistics.StatisticsActivity"
            android:exported="false" />

        <activity
            android:name=".employeeManagement.EmployeeManagementActivity"
            android:exported="false" />

        <activity
            android:name=".employeeManagement.addNewEmployee.NewEmployeeAccountActivity"
            android:exported="false" />

        <activity
            android:name=".employeeManagement.myEmployees.MyEmployeesActivity"
            android:exported="false" />

        <activity
            android:name=".employeeManagement.manipulate.ManipulateEmployeeCredentialActivity"
            android:exported="false" />

        <activity
            android:name=".apiKeyManagement.APIKeyManagementActivity"
            android:exported="false" />

        <activity android:name=".productManagement.ProductManagementActivity"
            android:exported="false"/>

        <activity android:name=".productManagement.addProduct.AddProductActivity"
            android:exported="false"/>

        <activity android:name=".productManagement.products.ProductsActivity"
            android:exported="false"/>

        <activity android:name=".productManagement.editProduct.EditProductActivity"
            android:exported="false"/>

        <activity android:name=".order.orders.OrderingActivity"
            android:exported="false"/>

        <activity android:name=".order.madeOrders.MadeOrdersActivity"
            android:exported="false"/>

        <activity android:name=".order.processedOrders.ProcessedOrdersActivity"
            android:parentActivityName=".order.OrderManagementActivity"
            android:exported="false"/>

        <activity
            android:name=".order.OrderManagementActivity"
            android:exported="false" />

        <activity
            android:name=".my_profile.MyProfileActivity"
            android:exported="false" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>